block variables
  - var baseUrl = baseUrl || '/'

doctype html
html
  head
    title= title
    meta(name="viewport", content="width=device-width,initial-scale=1")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='shortcut icon', href="/favicon.ico", type="image/x-icon")
    //- tagmanger code
    script.
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-W9R7PHP');

    block header
  body
    //- tagmanger code
    noscript
      iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-W9R7PHP' height='0' width='0' style='display:none;visibility:hidden')

    .main-container
      h1.okd-site-title
        a(href=baseUrl)
          img(src="/images/logo.png")
          span Скачиватель фотографий (Одноклассники)
      hr

      block content

      div.okd-copyright
        a(href="https://codeville.ru" target="_blank")
          img(src="/images/cv.png")
        a(href="/policy" target="_blank") Политика конфиденциальности

      block footer